body{
	font-family:consolas;
}

#chatbox{
	background-color:#000000;
	color:#ffffff;
}

.user{
	color:#00ec27
}

.other_user{
}

.notification{
	background-color:red;
	color:white;
}
