body{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
	font-family:initial;
}

#chatbox{
	background-color:#000000;
	color:#ffffff;
}

.user{
	color:#ecffa6
}

.other_user{
	color:white;
}

.system{
	color:aquamarine;
}

.notification{
	background-color:red;
	color:white;
}
