{% extends 'base.html' %}

{% block head %}
<title>Flask Chat!</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<div style="display:inline">
    Você está digitando mensagens como:<div id="username">{{ user_info.get("user","Anônimo") }}</div>
	<div style="display:inline" id=notification></div>
</div>

<div id="chatbox">
	{% for msg in history %}
	{% if(msg.user) %}
	<div class={{msg.user+'_msg'}}>
		{{ "({})[{}]:{}".format(msg.date.strftime("%H:%M"), msg.user, msg.content) }}
	{% else %}
	<div class="system">
		{{ "({})~{}~".format(msg.date.strftime("%H:%M"), msg.content) }}
	{% endif %}
	</div>
	{% endfor %}
</div>
<div id="input_div">
	<input id="msg_input" name="message" type="text" placeholder="Digite algo! :>">
	<input id="send_input" type="button" value="ENVIAR">
	<form action="/settings" style='display:inline'>
		<input id="settings_button" type="submit" value="CONFIGURAÇÕES">
	</form>
</div>

{% endblock %}

{% block javascript %}
<script src={{ url_for('static', filename='js/chat.js') }} type="text/javascript"></script>
<script>
    //minor design fixes
    var chatbox = document.getElementById("chatbox")
    chatbox.scrollTop = chatbox.scrollHeight - chatbox.clientHeight;

    var msg_input = document.getElementById("msg_input")
    msg_input.focus()
</script>
{% endblock %}