{% extends 'base.html' %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div style="text-align:center;">

<div id="homebox">
    <p>Esse é um pequeno chat com o propósito de ajudar Hikari a estudar python, javascript, HTML, flask, entre outros.</p>
    <p>Entre e deixe alguma coisa para ela ler!</p>
    <p>Faça seu login para continuar :></p>
    <p>Caso ainda não tenha uma conta, registre-se!</p>
    <div>
        <form action="/register">
            <input type="submit" class="greenbutton" value="Registrar" />
        </form>
        <br>
        <form action="/login">
            <input type="submit" class="greenbutton" value="Logar" />
        </form>
    </div>
</div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}