{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1 class="title" style="text-align:center;">Flask Chat!!!</h1>
<div style="text-align:center;">
<p>Esse é um pequeno chat com o propósito de ajudar Hikari a estudar python, javascript, HTML, flask, entre outros.</p>
<p>Entre e deixe alguma coisa para ela ler!</p>
<p>Faça seu login para continuar :></p>
<form method="POST">
    <input name="user_input" type="text" placeholder="Escolha um nome!"><br>
    <input name="pwd_input" type="password"><br>
    <input type="submit" value="Logar">
</form>
    <a href="/register">
        Registrar
    </a>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}